#root {

  margin: 0 auto;
  width: 100%;
  text-align: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.topo {
  position: fixed;
  top: 0;
  left: 0;      
  width: 100%;   
  height: 100px;
  background-color: #f3f1f1;
  display: flex;
  align-items: center;     
  justify-content: center; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}
.topo h1 {
  margin: 0;
}
.topo img{
  position: absolute;
  left: 50px;   
  width: 150px;  
}
.menu-top{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.menu-inicial{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10vh;
}
.slideshow{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner{
  width: 80%;
  max-width: 80%;
  height: auto;

}
.controles{
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  /*alt 16/03/*/
  min-height: 30vh;
  width: 100%;
}

.cartao {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  width: 200px;  
  border-radius: 8px;
}

.foto {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding-top: 100px;
}
.rodape{
  width: 100%;
  height: 200px;
  background-color: #012153;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}
.rodape img{
  margin-top: 20px;
  width: 150px;
}
.rodape p{
    margin-top: 10px;
}